<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<connectionStrings>
		<add name="GrowWealthDB"
			 connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=GrowWealthDB;Integrated Security=true;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="10240" executionTimeout="180" />
		<pages clientIDMode="Predictable" />

		<authentication mode="Forms">
			<forms loginUrl="~/Pages/Public/Login.aspx"
				   defaultUrl="~/Pages/Member/Dashboard.aspx"
				   timeout="2880"
				   protection="All"
				   slidingExpiration="true"
				   requireSSL="false" />
		</authentication>

		<authorization>
			<allow users="*" />
		</authorization>

		<sessionState mode="InProc" timeout="60" />

		<customErrors mode="Off" />

		<httpCookies httpOnlyCookies="true" requireSSL="false" />
	</system.web>

	<location path="Pages/Member">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/Admin">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

</configuration>